*{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    background: #1E1E1E;
}
.wrapper{
    background: #262626;
    border-radius: 25px;
    margin:20px 10px;
}
.left{
    width:20%;
    height: 100vh;
}
.right{
    width:80%;
    display:flex;
    flex-direction: column;
}
.right .content{
    height: 50vh;
    margin:20px 10px;
}
.right .movie-info{
    height: 50vh;
}