.container{
    display: flex;
    margin: 20px 10px;
}
.textArea{
    resize:vertical;
}
.addson{
    display:flex;
    flex:auto;
    flex-flow: row wrap;
    border: 1px;
    margin: 0 5px;
    padding: 5px 0;
}
.box{
    /* background-color: white; */
	border-radius: 10px;
	display: flex;
	/* align-items: center;
	padding: 20px; */
}
.box > i {
	font-size: 20px;
	color: #808080;
}